---
---

@import "{{ site.theme }}";

#header_wrap {
  display: none !important;
}

#footer_wrap {
  display: none !important;
}

body, html {
  border-top: none !important;
}

#main_content_wrap {
  border-top: none !important;
  box-shadow: none !important;
}
